
pr/.vs/pr/v15/.suo
pr/.vs/pr/v15/Browse.VC.db
pr/.vs/pr/v15/ipch/AutoPCH/c2fa20cd34ecf6bf/SOURCE.ipch
pr/.vs/pr/v15/ipch/AutoPCH/ed8be63a995dcc9f/SOURCE.ipch
pr/Debug/pr.ilk
pr/Debug/pr.pdb
pr/pr/Debug/pr.log
pr/pr/Debug/pr.tlog/CL.command.1.tlog
pr/pr/Debug/pr.tlog/CL.read.1.tlog
pr/pr/Debug/pr.tlog/CL.write.1.tlog
pr/pr/Debug/pr.tlog/link.command.1.tlog
pr/pr/Debug/pr.tlog/link.read.1.tlog
pr/pr/Debug/pr.tlog/link.write.1.tlog
pr/pr/Debug/pr.tlog/pr.lastbuildstate
pr/pr/Debug/Source.obj
pr/pr/Debug/source.obj.enc
pr/pr/Debug/vc141.idb
pr/pr/Debug/vc141.pdb
pr/pr/pr.vcxproj.user
pr/pr/pr.vcxproj.filters
pr/pr/pr.vcxproj
pr/.vs/pr/v15/Browse.VC.opendb
